    h1 {
color: blue;
    text-align: center;
    font-size: 30px;
  }
  p{text-align: center;
    font-size: 20px;
  }
  body {
    background: linear-gradient(180deg, #ffffff 0%, #4a4a4a 50%, #000000 100%);
    min-height: 100vh;    text-align: center;
    padding: 20px;
  }
  ul {
    display: inline-block;
    text-align: left;
  }
  table {
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  th,
  td {
    border: 1px solid #000000;
    padding: 10px 15px;
  }
  
  th {
    background-color: #3498db;
    color: rgb(255, 255, 255);
  
  }
  #my-table {
    background-color: white;
  }
  
  .row1 {
    background-color: #f9f9f9;
  }
  
  .row2 {
    background-color: #ffffff;
  }